body {
  background-color: #E7F6FF;
  font-family: "Inter", sans-serif;
}

button, input {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1080px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 85px auto;
}

.sneakers__section {
  padding: 40px;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  margin: 0;
  padding: 0;
}

.sneakers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}