.block__null {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 60px;


    h2 {
        font-size: 22px;
        font-style: normal;
        font-weight: 600; 
        margin: 0;
        margin-top: 21px;
    }

    p {
        width: 90%;
        font-size: 16px;
        font-style: normal;
        font-weight: 400; 
        opacity: 0.5;
        text-align: center;
        line-height: 24px;
        margin: 0;
        margin-top: 9px;
        margin-bottom: 16px;
    }
}

.green__button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    width: 250px;
    margin-top: 24px;
    background: #9DD558;
    border-radius: 18px;
    padding: 18px 18px;
    border: 0;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600; 
    cursor: pointer;

    &:hover {
        .img__green__button {
            transform: translateX(-7px);
            transition: all 200ms;
        }
    }
}

.img__green__button {
    width: 13.714px;
    transition: all 200ms;
}

.revers {
    display: flex;
    flex-direction: row-reverse;
}
