.card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 29px;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.044);
    transition: all 325ms;

    &:hover {
        box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.132);
        transition: all 325ms;
        transform: translateY(-5px);
    }
}

.image {
    width: 100%;
    height: 137%;
    object-fit: cover;
    margin-top: -45px;
}

.title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 4px;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.price {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    span {
        color: #BDBDBD;
        font-size: 11px;
        font-style: normal;
        font-weight: 500; 
        text-transform: uppercase;
    }

    b {
        font-size: 14px;
        font-style: normal;
        font-weight: 700; 
    }
}

.span_new {
    color: #BF4800;
    font-size: 13px;
    font-style: normal;
    font-weight: 400; 
}

.color_circle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.image_add {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.img_favorite {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    cursor: pointer;
}

.block_image {
    position: relative;
    height: 225px;
    overflow: hidden;
}
