.search__block {
    display: flex;
    align-items: center;
    column-gap: 13px;
    border: 1px solid #b1aeae;
    border-radius: 10px;
    padding: 12px 15px;

    .icon {
        width: 14.25px;
        height: 14.25px;
    }

    .input {
        font-size: 13px;
        border: 0;
        outline: 0 ;
        font-weight: 400;
        color: #1a1a1a;
    }
}
