
body {
  font-family: 'Inter', sans-serif;
}

button, input {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1080px;
  background: #FFFFFF;
  margin: 0 auto;
}

.sneakers__section {
  display: flex;
  flex-direction: column;
  min-height: 66vh;
  padding: 40px;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section {
  margin: 0;
  padding: 0;
}

.sneakers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}